<nav class="navbar navbar-default" role="navigation">
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <%= link_to "Account", "#", class: "dropdown-toggle", data: { toggle: "dropdown" } %>
        <ul class="dropdown-menu">
          <%= content_tag :li, link_to("Sign in", new_user_session_path) unless user_signed_in? %>
          <%= content_tag :li, link_to("Sign up", new_user_registration_path) unless user_signed_in? %>
          <%= content_tag :li, link_to("Sign out", destroy_user_session_path, method: :delete) if user_signed_in? %>
        </ul>
      </li>
    </ul>
  </div>
</nav>
